.typescript {
    width: 1em; 
    height: 1em; 
    vertical-align: middle;
}
.firebase {
    width: 1em; 
    height: 1em; 
    vertical-align: middle;
}
.mongodb {
    width: 1em; 
    height: 1em; 
    vertical-align: middle;
}